parameters:
    level: 5
    paths:
        - src
    ignoreErrors:
        - '#Call to an undefined method#'
        - '#is never read, only written#'
        - '#is never written, only read#'
        - '#is never assigned int#'
        - '#Attribute class DH#'
        - '#UserInterface#'
        - '#invoked with 2 parameters#'